<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity,listview.CountDownRecyclerViewActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CountDownSimpleActivity" />
        <activity android:name=".sms.SmsHandlerActivity" />
        <activity android:name=".sms.SmsRxJavaActivity" />
        <activity android:name=".sms.SmsRxbindingActivity" />
        <activity android:name=".sms.SmsCountDownButtonActivity" />
        <activity android:name=".sms.SmsKotilnActivity"/>

        <activity android:name=".HandlerSimpleActivity" />
        <activity android:name=".TimerSimpleActivity" />
        <activity android:name=".CountDownCustomActivity" />
        <activity android:name=".ValueAnimatorActivity" />
        <activity android:name=".ChronometerActivity" />
        <activity android:name=".RxJavaActivity" />
        <activity
            android:name=".AlarmActivity"
            android:launchMode="singleTop" />
        <activity android:name=".listview.CountDownRecyclerViewActivity" />
        <activity android:name=".listview.CountDownListActivity" />
        <activity android:name=".listview.CountDownRecyclerViewActivity2" />
        <activity android:name=".compose.ComposeMainActivity" />
        <activity android:name=".coroutine.CoroutineSingleActivity" />
        <activity android:name=".coroutine.CoroutineListActivity" />
        <activity android:name=".coroutine.CoroutineSmsActivity" />
        <activity android:name=".flow.FlowSingleActivity" />
        <activity android:name=".flow.FlowListActivity" />
        <activity android:name=".MotionTimerActivity" />
        <receiver
            android:name=".receiver.TimerExpiredReceiver"
            android:exported="false" />
        <service
            android:name=".service.TimerForegroundService"
            android:exported="false" />

        <receiver
            android:name=".widget.TimerWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timer_widget_info" />
        </receiver>

    </application>

</manifest>
